body {
  background-color: #081D33;
  font-family: 'Segoe UI', sans-serif;
  margin: 0;
  padding: 0;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  margin: 20px;
  color: #ffffff;
}

.chat-container {
  background-color: white;
  width: 600px;
  height: 1000px;
  border-radius: 16px;
  border: 5px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

#chat-box {
  flex: 1;
  padding: 15px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.user-message {
  background-color: #59788E;
  color: black;
  align-self: flex-end;
  padding: 10px ;
  margin: 6px;
  border-radius: 12px;
  max-width: 80%;
  word-wrap: break-word;
}

.bot-message {
  background-color: #151E3D;
  color: white;
  align-self: flex-start;
  padding: 10px;
  margin: 6px;
  border-radius: 12px;
  max-width: 80%;
  word-wrap: break-word;
}

.input-container {
  display: flex;
  padding: 10px;
  border-top: 1px solid #ccc;
  background-color: #f2f2f2;
}

#user-input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
}

#send-btn {
  background-color: #151E3D;
  color: white;
  border: none;
  padding: 10px 16px;
  margin-left: 10px;
  border-radius: 6px;
  cursor: pointer;
}

footer {
  margin-top: 10px;
  font-size: 13px;
  color: #ccc;
  text-align: left;
  width: 400px;
}
